body {
	background-color: #dddddd;
	text-align: center;
}
div {
	align-self: center;
	align-content: center;
	align-items: center;
	padding: 0;
	margin: auto;
	position: relative;
}
h1, h2, h3, h4, h5{
	padding: 0;
	margin-left: 0;
	margin-right: 0;
}
.primary {
	min-width: 460px;
	max-width: 600px;
}
.minus-div {
	position: relative;
	text-align: right;
	padding: 1px;
	cursor: default;
}
.minus-button {
	color: white;
	background-color: black;
	border: 1px solid gray;
	border-radius: 10px 0 0 10px;
	position: absolute;
	overflow: hidden;
	top: 20%;
	right: -10%;
	height: 55%;
	width : 25px;
	padding: 0;
	margin: 0;	
	z-index: 5;
	cursor: pointer;
}
.minus-button h3{
	position: absolute;
	top: -38%;
	right: 10%;
}
.plus-div {
	position: relative;
	text-align: left;
	padding: 1px;	
	cursor: default;
}
.plus-button {
	color: white;
	background-color: black;
	border: 1px solid gray;
	border-radius: 0 10px 10px 0;
	position: absolute;
	overflow: hidden;
	top: 20%;
	left: -5%;
	height: 55%;
	width : 25px;
	padding: 0;
	margin: 0;
	z-index: 5;
	cursor: pointer;
}
.plus-button h3{
	position: absolute;
	top: -38%;
	left: 10%;
}
#action-div {
	cursor: default;	
}
#action-button {
	display: inline-block;
	padding: 0 6px 0 3px;
	color: white;
	background-color: black;
	border: 1px solid gray;	
	border-radius: 0 20px 20px 0;
	cursor: pointer;
}
#time-display {
	display: inline-block;
	padding: 0 6px 0 6px;
	margin: 0 1px 0 1px;
	border: 2px solid gray;		
}